@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

.red {
  color: red;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body,
#root {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background-color: rgb(160, 165, 168);
  font-family: "Lora", serif;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 150px;
  position: relative;
}

.box-360 {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  top: 10px;
  display: none;
  top: 10px;
  background-color: azure;
}

.box-360::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 4;
  pointer-events: none;
}

.panorama {
  width: 100%;
  height: 70vh;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panorama p {
  margin: 5px;
  color: aliceblue;
  font-size: 1rem;
  font-style: italic;
}

.active-box-360 {
  display: flex;
}

.btn-360 {
  width: 100px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

/* FOOTER*/
footer {
  height: 100px;
  bottom:0;
}

.socila {
  padding-bottom: 5px;
}

/*----MAP-------*/
.map {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.map .map-rout {
  color: white;
  font-size: 1rem;
  margin: 10px;
}

/* SOCIAL*/
.social {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social a {
  text-decoration: none;
  color: white;
  width: 90px;
}

/*ORDERS */
.orders {
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.orders-img {
  width: 40% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/*------------ BLOG -------- */
.blog {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.posts {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: 70%;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blog-card:hover {
  background-color: rgba(195, 189, 189, 0.2);
}

.blog-card_info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card_info h2 {
align-self: center;
width: 80%;
}

.blog-card img {
  width: 50%;
  height: 40ch;
  object-fit: cover;
}




/* ------ MEDIA ---------  */
@media screen and (max-width: 768px) {
  .portfolio {
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .orders {
    flex-direction: column;
  }

  .orders-img {
    display: none;
  }
.blog{
  margin-top: 80px;
}
  .blog h1 {
    font-size: 0.8rem;
  }

  .blog-card {
    flex-direction: column;
  }
    .blog-card {
      width: 90%;
    }
  
    .blog-card_info {
      width: 100%;
      font-size: 0.7rem;
  
    }
.blog-card_info h2{
  width: 95%;
  text-align: center;
  height: 3rem;
  align-self: center;
}
  .blog-card img {
    width: 100%;
    height: 30ch;
  }
}